<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<!-- SESSION RULES -->
<session-config>
	<session-timeout>10</session-timeout>
</session-config>

<!-- SERVLETS -->
<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>control.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/site_works/log</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>LogoutServlet</servlet-name>
	<servlet-class>control.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/site_works/logout</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>InventoryServlet</servlet-name>
	<servlet-class>control.InventoryServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InventoryServlet</servlet-name>
	<url-pattern>/site_works/inventory</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AddToCart</servlet-name>
	<servlet-class>control.AddToCart</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddToCart</servlet-name>
	<url-pattern>/site_works/shop</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ProfileServlet</servlet-name>
	<servlet-class>control.ProfileServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ProfileServlet</servlet-name>
	<url-pattern>/site_works/profile</url-pattern>
</servlet-mapping>

</web-app>
